In [23]:
import pandas as pd
import numpy as np
import scipy.stats

df = pd.read_csv('Data/MarvelComicCaracters.csv', sep = ';')
df

,name,align,eye,hair,sex,appearances,first_appearance
0,Spider-Man (Peter Parker),Добрый персонаж,Карие глаза,Каштановые волосы,Мужской персонаж,4043.0,1962.0
1,Captain America (Steven Rogers),Добрый персонаж,Голубые глаза,Белые волосы,Мужской персонаж,3360.0,1941.0
2,"Wolverine (James \""Logan\"" Howlett)",Нейтральный персонаж,Голубые глаза,Черные волосы,Мужской персонаж,3061.0,1974.0
3,"Iron Man (Anthony \""Tony\"" Stark)",Добрый персонаж,Голубые глаза,Черные волосы,Мужской персонаж,2961.0,1963.0
4,Thor (Thor Odinson),Добрый персонаж,Голубые глаза,Русые волосы,Мужской персонаж,2258.0,1950.0
...,...,...,...,...,...,...,...
16371,Ru'ach (Earth-616),Злой персонаж,Зеленые глаза,Без волос,Мужской персонаж,NaN,NaN
16372,Thane (Thanos' son) (Earth-616),Добрый персонаж,Голубые глаза,NaN,Мужской персонаж,NaN,NaN
16373,Tinkerer (Skrull) (Earth-616),Злой персонаж,Черные глаза,NaN,Мужской персонаж,NaN,NaN
16374,TK421 (Spiderling) (Earth-616),Нейтральный персонаж,NaN,NaN,Мужской персонаж,NaN,NaN
16375,Yologarch (Earth-616),Злой персонаж,NaN,NaN,NaN,NaN,NaN

In [24]:
df.shape[0] - df['appearances'].describe()[0]

1096.0

In [28]:
clone_df = df.dropna(subset=['appearances'])

In [30]:
clone_df

,name,align,eye,hair,sex,appearances,first_appearance
0,Spider-Man (Peter Parker),Добрый персонаж,Карие глаза,Каштановые волосы,Мужской персонаж,4043.0,1962.0
1,Captain America (Steven Rogers),Добрый персонаж,Голубые глаза,Белые волосы,Мужской персонаж,3360.0,1941.0
2,"Wolverine (James \""Logan\"" Howlett)",Нейтральный персонаж,Голубые глаза,Черные волосы,Мужской персонаж,3061.0,1974.0
3,"Iron Man (Anthony \""Tony\"" Stark)",Добрый персонаж,Голубые глаза,Черные волосы,Мужской персонаж,2961.0,1963.0
4,Thor (Thor Odinson),Добрый персонаж,Голубые глаза,Русые волосы,Мужской персонаж,2258.0,1950.0
...,...,...,...,...,...,...,...
15275,Visher-Rakk (Earth-616),Злой персонаж,NaN,NaN,NaN,1.0,NaN
15276,Weapon Red (Chinese Mutant) (Earth-616),Злой персонаж,Белые глаза,Черные волосы,Мужской персонаж,1.0,NaN
15277,Wolfgang von Roehm (Earth-616),Нейтральный персонаж,NaN,NaN,Мужской персонаж,1.0,NaN
15278,Xan (Earth-616),Злой персонаж,Желтые глаза,Черные волосы,Мужской персонаж,1.0,NaN
15279,Zamira (Earth-616),Добрый персонаж,Темно-карие глаза,Черные волосы,Женский персонаж,1.0,NaN

In [35]:
clone_df.groupby('align')['appearances'].describe()

,count,mean,std,min,25%,50%,75%,max
align,,,,,,,,
Добрый персонаж,4310.0,34.942691,159.591704,1.0,2.0,5.0,15.0,4043.0
Злой персонаж,6352.0,8.329660,25.725767,1.0,1.0,3.0,6.0,721.0
Нейтральный персонаж,2093.0,19.632585,109.509755,1.0,1.0,3.0,9.0,3061.0

In [36]:
q1 = clone_df['appearances'].quantile(0.25)
q3 = clone_df['appearances'].quantile(0.75)
iqr = q3 - q1
print(iqr)
low = q1 - 1.5 * iqr
high = q3 + 1.5 * iqr
print(low, high)

7.0
-9.5 18.5

In [39]:
clone_df[clone_df['appearances'] > high].shape

(1938, 7)

In [43]:
clone_df[clone_df['appearances'] > high]['align'].value_counts()

Добрый персонаж         944
Злой персонаж           551
Нейтральный персонаж    285
Name: align, dtype: int64

In [45]:
mean = clone_df['appearances'].mean()
std = clone_df['appearances'].std()
std_outlier_threshold_bottom = mean - 2.5 * std
std_outlier_threshold_up = mean + 2.5 * std
print(std_outlier_threshold_bottom)
print(int(std_outlier_threshold_up))

-223.8990214750117
257