In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv('Data/MarvelComicCaracters.csv', sep = ';')
df

,name,align,eye,hair,sex,appearances,first_appearance
0,Spider-Man (Peter Parker),Добрый персонаж,Карие глаза,Каштановые волосы,Мужской персонаж,4043.0,1962.0
1,Captain America (Steven Rogers),Добрый персонаж,Голубые глаза,Белые волосы,Мужской персонаж,3360.0,1941.0
2,"Wolverine (James \""Logan\"" Howlett)",Нейтральный персонаж,Голубые глаза,Черные волосы,Мужской персонаж,3061.0,1974.0
3,"Iron Man (Anthony \""Tony\"" Stark)",Добрый персонаж,Голубые глаза,Черные волосы,Мужской персонаж,2961.0,1963.0
4,Thor (Thor Odinson),Добрый персонаж,Голубые глаза,Русые волосы,Мужской персонаж,2258.0,1950.0
...,...,...,...,...,...,...,...
16371,Ru'ach (Earth-616),Злой персонаж,Зеленые глаза,Без волос,Мужской персонаж,NaN,NaN
16372,Thane (Thanos' son) (Earth-616),Добрый персонаж,Голубые глаза,NaN,Мужской персонаж,NaN,NaN
16373,Tinkerer (Skrull) (Earth-616),Злой персонаж,Черные глаза,NaN,Мужской персонаж,NaN,NaN
16374,TK421 (Spiderling) (Earth-616),Нейтральный персонаж,NaN,NaN,Мужской персонаж,NaN,NaN
16375,Yologarch (Earth-616),Злой персонаж,NaN,NaN,NaN,NaN,NaN

In [4]:
df['eye'].mode()

0    Голубые глаза
Name: eye, dtype: object

In [5]:
df['eye'].value_counts()

Голубые глаза            1962
Темно-карие глаза        1924
Зеленые глаза             613
Черные глаза              555
Красные глаза             508
Белые глаза               400
Желтые глаза              256
Серые глаза                95
Карие глаза                76
Разноцветные глаза         49
Фиолетовые глаза           31
Оранжевые глаза            25
Розовые глаза              21
Один глаз                  21
Золотые глаза              14
Серебристые глаза          12
Лиловые глаза              11
Янтарные глаза             10
Много глаз                  7
Нет глаз                    7
Желтые глазные яблоки       6
Черные глазные яблоки       3
Пурпурные глаза             2
Фасеточные глаза            1
Name: eye, dtype: int64

In [16]:
df[df['sex'] == 'Мужской персонаж']['hair'].mode() == df[df['sex'] == 'Женский персонаж']['hair'].mode()

0    True
Name: hair, dtype: bool

In [17]:
df[df['align'] == 'Злой персонаж']['appearances'].median()

3.0

In [20]:
int(df['appearances'].var(ddof=0))

9287

In [22]:
int(df['first_appearance'].mode())

1993

In [25]:
df['eye'][500:].mode()

0    Темно-карие глаза
Name: eye, dtype: object

In [29]:
df['hair'].mode()[0]

'Черные волосы'

In [34]:
int(df[df['hair'] == df['hair'].mode()[0]]['appearances'].std(ddof=0))

94