In [8]:
import pandas as pd

df = pd.read_csv('Data/MarvelComicCaracters.csv', sep = ';')
df

,name,align,eye,hair,sex,appearances,first_appearance
0,Spider-Man (Peter Parker),Добрый персонаж,Карие глаза,Каштановые волосы,Мужской персонаж,4043.0,1962.0
1,Captain America (Steven Rogers),Добрый персонаж,Голубые глаза,Белые волосы,Мужской персонаж,3360.0,1941.0
2,"Wolverine (James \""Logan\"" Howlett)",Нейтральный персонаж,Голубые глаза,Черные волосы,Мужской персонаж,3061.0,1974.0
3,"Iron Man (Anthony \""Tony\"" Stark)",Добрый персонаж,Голубые глаза,Черные волосы,Мужской персонаж,2961.0,1963.0
4,Thor (Thor Odinson),Добрый персонаж,Голубые глаза,Русые волосы,Мужской персонаж,2258.0,1950.0
...,...,...,...,...,...,...,...
16371,Ru'ach (Earth-616),Злой персонаж,Зеленые глаза,Без волос,Мужской персонаж,NaN,NaN
16372,Thane (Thanos' son) (Earth-616),Добрый персонаж,Голубые глаза,NaN,Мужской персонаж,NaN,NaN
16373,Tinkerer (Skrull) (Earth-616),Злой персонаж,Черные глаза,NaN,Мужской персонаж,NaN,NaN
16374,TK421 (Spiderling) (Earth-616),Нейтральный персонаж,NaN,NaN,Мужской персонаж,NaN,NaN
16375,Yologarch (Earth-616),Злой персонаж,NaN,NaN,NaN,NaN,NaN

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16376 entries, 0 to 16375
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              16376 non-null  object
 1   align             13564 non-null  object
 2   eye               6609 non-null   object
 3   hair              9989 non-null   object
 4   sex               15522 non-null  object
 5   appearances       15280 non-null  float64
 6   first_appearance  15561 non-null  float64
dtypes: float64(2), object(5)
memory usage: 895.7+ KB

In [12]:
df['appearances'].value_counts()

1.0       4810
2.0       2074
3.0       1419
4.0       1097
5.0        796
          ...
126.0        1
310.0        1
311.0        1
313.0        1
4043.0       1
Name: appearances, Length: 358, dtype: int64

In [15]:
df['align'].value_counts()

Злой персонаж           6720
Добрый персонаж         4636
Нейтральный персонаж    2208
Name: align, dtype: int64

In [20]:
df.groupby('sex')['eye'].value_counts()

sex                      eye
Безполый персонаж        Белые глаза                10
                         Разноцветные глаза          5
                         Желтые глаза                4
                         Черные глаза                4
                         Зеленые глаза               3
                         Красные глаза               3
                         Голубые глаза               1
                         Оранжевые глаза             1
                         Темно-карие глаза           1
                         Фиолетовые глаза            1
Гендерфлюидный персонаж  Зеленые глаза               1
                         Темно-карие глаза           1
Женский персонаж         Голубые глаза             692
                         Темно-карие глаза         519
                         Зеленые глаза             268
                         Черные глаза              137
                         Белые глаза                82
                         Красные глаза              77
                         Желтые глаза               57
                         Серые глаза                20
                         Карие глаза                17
                         Фиолетовые глаза           14
                         Лиловые глаза               8
                         Разноцветные глаза          7
                         Серебристые глаза           6
                         Оранжевые глаза             5
                         Розовые глаза               5
                         Золотые глаза               3
                         Желтые глазные яблоки       2
                         Пурпурные глаза             2
                         Черные глазные яблоки       2
                         Янтарные глаза              2
                         Много глаз                  1
                         Нет глаз                    1
                         Один глаз                   1
Мужской персонаж         Темно-карие глаза        1400
                         Голубые глаза            1258
                         Черные глаза              394
                         Красные глаза             377
                         Зеленые глаза             328
                         Белые глаза               292
                         Желтые глаза              174
                         Серые глаза                75
                         Карие глаза                58
                         Разноцветные глаза         28
                         Один глаз                  20
                         Оранжевые глаза            18
                         Розовые глаза              15
                         Фиолетовые глаза           15
                         Золотые глаза              10
                         Янтарные глаза              8
                         Много глаз                  6
                         Желтые глазные яблоки       4
                         Серебристые глаза           4
                         Лиловые глаза               3
                         Нет глаз                    3
                         Фасеточные глаза            1
                         Черные глазные яблоки       1
Name: eye, dtype: int64

In [27]:
df[df['sex'] == 'Женский персонаж']['eye'].value_counts()

Голубые глаза            692
Темно-карие глаза        519
Зеленые глаза            268
Черные глаза             137
Белые глаза               82
Красные глаза             77
Желтые глаза              57
Серые глаза               20
Карие глаза               17
Фиолетовые глаза          14
Лиловые глаза              8
Разноцветные глаза         7
Серебристые глаза          6
Розовые глаза              5
Оранжевые глаза            5
Золотые глаза              3
Янтарные глаза             2
Желтые глазные яблоки      2
Черные глазные яблоки      2
Пурпурные глаза            2
Нет глаз                   1
Много глаз                 1
Один глаз                  1
Name: eye, dtype: int64

In [28]:
df[df['eye'] == 'Пурпурные глаза']['align'].value_counts()

Злой персонаж      1
Добрый персонаж    1
Name: align, dtype: int64

In [31]:
df['first_appearance'].value_counts()

1993.0    554
1994.0    485
1992.0    455
2006.0    381
2008.0    360
         ...
1952.0     26
1956.0     16
1957.0      7
1959.0      4
1958.0      2
Name: first_appearance, Length: 75, dtype: int64

In [37]:
A = df[(df['sex'] == 'Мужской персонаж') & (df['appearances'] > 100)].shape[0]
print(round(A/df.shape[0], 2)*100)

2.0