In [27]:
import pandas as pd
import numpy as np

sw = pd.read_csv('Data/StarWars.csv', sep=";")
df = pd.read_csv('Data/StarWars.csv', sep=";")

In [31]:
sw[(sw['gender'] == 'М') & (sw['age_group'] == '18-29') &(sw['fan'] == 'нет')]['loc'].value_counts()

Тихоокеанский                  8
Средне-Атлантический           5
Новая Англия                   3
Северо-Западный центральный    2
Южно-Атлантический             1
Горный                         1
Юго-Восточный центральный      1
Name: loc, dtype: int64

In [32]:
sw.head()

,respondentID,seen,fan,gender,age_group,income,loc,yoda,princess_leia_organa
0,3292879998,да,да,М,18-29,NaN,Южно-Атлантический,очень нравится,очень нравится
1,3292879538,нет,NaN,М,18-29,0 - 24.999,Юго-Западный центральный,NaN,NaN
2,3292765271,да,нет,М,18-29,0 - 24.999,Северо-Западный центральный,не знаю такого персонажа,нравится
3,3292763116,да,да,М,18-29,100.000 - 149.999,Северо-Западный центральный,очень нравится,очень нравится
4,3292731220,да,да,М,18-29,100.000 - 149.999,Северо-Западный центральный,нравится,нравится

In [35]:
sw[(sw['fan'] == 'да') & (sw['seen'] == 'нет')].shape

(0, 9)

In [39]:
sw['Q2'] = np.where((sw['seen'] == 'NaN') &
         (sw['princess_leia_organa'] == 'NaN') &
         (sw['fan'] == 'NaN') &
         (sw['gender'] == 'NaN') &
         (sw['age_group'] == 'NaN') &
         (sw['income'] == 'NaN') & 
         (sw['loc'] == 'NaN') & 
         (sw['yoda'] == 'NaN'), 1, 0)
sw.head()

,respondentID,seen,fan,gender,age_group,income,loc,yoda,princess_leia_organa,Q2
0,3292879998,да,да,М,18-29,NaN,Южно-Атлантический,очень нравится,очень нравится,0
1,3292879538,нет,NaN,М,18-29,0 - 24.999,Юго-Западный центральный,NaN,NaN,0
2,3292765271,да,нет,М,18-29,0 - 24.999,Северо-Западный центральный,не знаю такого персонажа,нравится,0
3,3292763116,да,да,М,18-29,100.000 - 149.999,Северо-Западный центральный,очень нравится,очень нравится,0
4,3292731220,да,да,М,18-29,100.000 - 149.999,Северо-Западный центральный,нравится,нравится,0

In [42]:
sw[['income']].value_counts()

income
50.000 - 99.999      298
25.000 - 49.999      186
100.000 - 149.999    141
0 - 24.999           138
150.000+              95
dtype: int64

In [55]:
sw['loc'].unique()

array(['Южно-Атлантический', 'Юго-Западный центральный',
       'Северо-Западный центральный', 'Средне-Атлантический',
       'Северо-Восточный центральный', 'Тихоокеанский', nan, 'Горный',
       'Новая Англия', 'Юго-Восточный центральный'], dtype=object)

In [49]:
sw[(sw['gender'] == 'М') & (sw['loc'] == 'Горный')].shape

(37, 10)

In [54]:
sw[(sw['age_group'] == '18-29') & (sw['fan'] == 'нет')].shape[0] - sw[(sw['age_group'] == '45-60') & (sw['fan'] == 'да')].shape[0]

-98

In [58]:
A = sw[(sw['income'] == '0 - 24.999') & (sw['loc'] == 'Новая Англия') & (sw['fan'] == 'да')].shape[0]
print(round(A/sw.shape[0], 2)*100)

1.0